@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --main-color: #ffffff;
  --primary-color: #242424;
  --secondary-color: #F2C600;
  --warning-color: #84d0f4;
  --navyblue-color: #091c30;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common style */
.common-btn {
  font-size: 15px;
  background: transparent;
  color: var(--main-color);
  font-weight: 700;
  padding: 10px 20px;
  z-index: 1;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  cursor: pointer;
}
/* .common-btn:hover {
  background: var(--navyblue-color);
  color: var(--secondary-color);
  transition: all ease 0.3s;
} */
.head {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 68px;
}
/* header css */
/* header-head */
.header-head {
  height: 31px;
  background-color: var(--warning-color);
  text-align: center;
}

.header-head p {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 5px 0;
}
/* header nav */
.header-nav {
  margin: 10px 0;
  align-items: center;
}
.header-nav ul {
  align-items: center;
}
.header-nav ul li a {
  color: var(--main-color) !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.25px;
}
.header-nav ul li a:hover {
  color: var(--secondary-color) !important;
}
.header-nav ul li .navbar-brand {
  display: none;
}
.nav-b span {
  color: var(--main-color) !important;
  background-color: var(--main-color);
  padding: 5px 10px;
}
.navbar-toggler {
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;

  padding: 10px;
  cursor: pointer;
}

.header-nav-side {
  color: var(--main-color);
  display: flex;
  align-items: center;
}
.header-nav-side p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.header-nav-side span {
  font-size: 12px;
  font-weight: 500;
  font-size: 12px;
  padding-right: 12px;
  padding-left: 5px;
  text-decoration: underline;
  line-height: 38px;
  border-right: 1.21247px solid #f9f9f9;
}

.header-nav-side img {
  margin: 0 10px;
}
.bg-banner {
  background: url("/assets/images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  z-index: -1;
}
.bg-banner::before {
  content: "";
  position: absolute;
  top: 1=30px;
  left: 0;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.5);
}
/* banner */
.banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.banner-content {
  text-align: center;
}

.banner-content h4 {
  font-size: 61px;
  line-height: 68px;
  color: var(--main-color);
  margin-bottom: 20px;
}
.banner-content p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color);
}
.banner-btn {
  color: var(--main-color);
  background: transparent;
  width: 420px;
  padding: 12px 20px;
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
  border: 1px solid var(--main-color);
  margin: 20px 0;
  transition: all ease 0.3s;
  cursor: pointer;
}
.banner-btn:hover {
  background: var(--navyblue-color);
  color: var(--secondary-color);
  transition: all ease 0.3s;
}
.banner-btn i {
  margin-left: 20px;
}
.banner-content option {
  background-color: #091c30;
}
@media only screen and (max-width: 665px) {
  .banner {
    top: 50%;
  }
  .banner-content h4 {
    font-size: 26px;
    line-height: 28px;
  }
  .banner-content p {
    font-size: 12px;
  }
  .banner-btn {
    width: 160px;
    font-size: 11px;
    line-height: 10px;
    padding: 10px 20px;
  }
  .banner-btn i {
    margin-left: 50px;
  }
  .header-nav {
    background-color: var(--primary-color) !important;
    text-align: center;
    z-index: 10;
    width: 100%;
    height: 50vh;
  }
}
@media only screen and (min-width: 768px)  and (max-width: 960px){
  .banner {
    top:35%
  }
  .navbar-toggler{
    margin-left: 320px !important;
    background-color: #091c30 !important;
  }
  .navbar-nav{
    background-color: #091c30;
    width: 100%;
    position: absolute;
    right: 1px;
    z-index: 1;
  }
  .header-nav-side{
    position: absolute;
    justify-content: center;
    background-color: #091c30;
    width: 100%;
    top: 230%;
    right: 1px;
    z-index: 99;
    text-align: center;
    margin: 0 auto;
  }
}
/* Dealer NetWorl */
.lg-container {
  width: 70%;
  margin: 0 auto;
}
.dealer-network {
  margin-top: -150px;
  z-index: 10;
}
.dealer-network-content {
  width: 334.03px;
  background: var(--main-color);
  height: 324px;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.0991348);
  border-radius: 10px;
  /* margin-right: 50px; */
  padding: 20px;
  z-index: 10;
  margin-bottom: 10px;
}
.dealer-network-content:nth-child(2) {
  background-color: #091c30;
}
.dealer-network-content:last-child {
  margin-right: 20px;
}
.dealer-network-content h5 {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-color);
}
.dealer-network-content-1 img {
  width: 100%;
  height: 100%;
}
.dealer-network-content-1 div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dealer-network-content-1 a {
  font-size: 14px;
  color: #242424;
  text-decoration: underline;
}
.dealer-network-content-2 {
  text-align: center;
  margin-bottom: 20px;
}
.row{
  gap: 20px;
}
.dealer-network-content-2 img {
  margin: 20px 0;
}
.dealer-network-content-2 h5 {
  color: var(--main-color);
  font-size: 17px;
  margin: 10px 0;
}
.dealer-network-content-2 p {
  color: var(--main-color);
  font-size: 13px;
}
.dealer-network-content-3 p {
  font-size: 14px;
  padding: 22px 5px;
  border-bottom: 1px solid #d8d8d8;
}
.dealer-network-content-3 p:last-child {
  border-bottom: none;
}
#map {
  height: 200px;
  width: 100%;
}
#map .gmnoprint div{
  /* display: none; */

  background: transparent !important;
  color: var(--main-color);
  height: 20px;
}
#map .gmnoprint div button{
  color: #fff !important;
  /* background-color: #151515 !important; */
}
.dealer-network-content-3 p img {
  margin-right: 20px;
  font-size: 20px;
}
.dealer-network-content-3:hover p img{
  cursor: pointer;
  color: var(--secondary-color);
}
.btn-deal {
  position: relative;
  color: var(--main-color);
  z-index: 10;
}
.btn-deal:hover {
  color: var(--primary-color);
}
.btn-deal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 50px;
  transform: scaleX(0);
  /* transform-origin: left ; */
  transition: transform 0.3s ease-in-out;
  background: var(--main-color);
}
.btn-deal:focus {
  outline: none;
  color: var(--primary-color);
}
.btn-deal:hover::before,
.btn-deal:focus::before {
  transform: scaleX(1);
}
@media only screen and (max-width: 665px) {
  /* .dealer-network{

    } */
  .dealer-network-content {
    width: 90%;
    margin: 10px auto !important;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .lg-container {
    width: 100%;
    margin: 0 auto;
  }
  .row {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 1380px) {
  .lg-container {
    width: 70%;
    margin: 0 20px;
  }
}

/* Browse Section */

.browse {
  margin-top: 57px;
  margin-bottom: 57px;
}
.browse-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.browse-head h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 68px;
}
.browse-head ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.browse-head ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 5px solid transparent;
}
.browse-head-btn{
  position: relative;
}
.browse-head-btn:hover {
  color: var(--main-color);
}
.browse-head-btn::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--navyblue-color);
  border-radius: 50px;
  color: var(--main-color);
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.browse-head-btn:hover::before,
.browse-head-btn:focus::before {
  transform: scaleX(1);
}
.browse-head-btn:focus{
  outline: none;
  color: var(--main-color);
}
.browse-head ul li a:hover {
  border-bottom: 5px solid var(--primary-color);
}
.browse-head div button {
  color: var(--primary-color);
  border-color: var(--primary-color);
  margin-right: 120px;
}
.owl-carousel .owl-nav button.owl-next {
  /* border: 1px solid red; */
  width: 30px;
  position: absolute;
  /* right: 30px; */
  /* left: 0; */
  /* background-color: #0e76e6; */
}
.owl-carousel .owl-nav button.owl-prev::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  background-color: var(--navyblue-color);

}
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus{
  outline: none;
  color: var(--main-color);
}
.owl-carousel .owl-nav button.owl-prev:hover::before,
.owl-carousel .owl-nav button.owl-prev:focus::before{
  outline: none;
  transform: scaleX(1);
}
.owl-carousel .owl-nav button.owl-prev{
  /* border: 1px solid red; */
  width: 40px;
  margin-right:10px ;
}
.owl-carousel .owl-nav button.owl-next::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  background-color: var(--navyblue-color);
}
.owl-carousel .owl-nav button.owl-next:hover::before,
.owl-carousel .owl-nav button.owl-next:focus::before{
  outline: none;
  z-index: -1;
  transform: scaleX(1);
}
.icon {
  outline: none;
  margin-right: 5px;
  right: 10px;
  position: relative;
}


/* .browse-head div .icon {
  border: 1px solid var(--primary-color);
  padding: 16px;
  margin-left: 10px;
  display: none;
} */
.icon:hover{
  color: var(--main-color);
}
@media only screen and (max-width: 665px) {
  .browse-head {
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .owl-nav {
    /* position: absolute; */
    top: -72px !important;
    right: 100px !important;
}
  .browse-head h4 {
    font-size: 30px;
    line-height: 40px;
  }
  .browse-head ul{
    align-items: flex-start;
  }
  .browse-head ul li a {
    font-size: 8px;
  }
  .browse-head ul {
    flex-direction: column;
    margin-left: 0;
  }
  .browse-card {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 35px;
    /* margin-right: -18px; */
    /* margin-right: 100px; */
}
}
@media only screen and (min-width: 768px)  and (max-width: 960px){
  .browse-head {
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
  .browse-head h4 {
    font-size: 30px;
    line-height: 40px;
  }
  .browse-head ul li a {
    font-size: 8px;
  }
  .browse-head ul {
    /* flex-direction: column; */
    margin-left: 0;
  }
  .owl-nav {
    /* position: absolute; */
    top: -72px !important;
    right: 220px !important;
}
}
.browse-card {
  width: 255.24px;
  height: 352px;

  margin-bottom: 35px;
  margin-right: 20px;
}
.browse-card img {
  width: 100%;
  position: relative;
}
.browse-content h6 {
  font-size: 13px;
  padding: 0 10px;
  margin: 10px 0;
}
.browse-content .browse-loader {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.browse-hour {
  display: flex;
  margin: 10px 10px;
}
.browse-loader h4 {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}
.browse-hour h4 {
  font-size: 13px;
  font-weight: 700;
  margin-right: 40px;
  color: var(--primary-color);
}
.browse-content p {
  font-size: 13px;
  color: var(--primary-color);
  font-weight: 500;
  padding: 0 10px;
}
.browse-footer {
  display: flex;
  background-color: var(--navyblue-color);
  color: var(--main-color);
  justify-content: space-between;

  padding: 10px 10px;
}
.browse-footer h5 {
  font-size: 11.7925px;
}
.browse-footer-km {
  color: var(--secondary-color);
}
.browse-footer-km i {
  margin-right: 10px;
}
.browse-btn {
  position: absolute;
  background: var(--primary-color);
  color: var(--main-color);
  border: none;
  font-size: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}

.dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}

.owl-nav {
  position: absolute;
  top: -81px;
  right: 20px;
}
.icon {
  border: 1px solid var(--primary-color);
  padding: 12px;
  margin-left: 10px;
}
.circle {
  font-size: 6px;
  margin-right: 6px;
  color: green;
}
.circle-2 {
  font-size: 6px;
  margin-right: 6px;
  color: var(--secondary-color);
}
@media only screen and (min-width: 768px)  and (max-width: 960px){
  .browse-card{
    margin: auto;
    margin-bottom: 35px !important;
    position: relative;
  }
}
/* ----------BRowse Ends */
/* <!-- Tractor buying section start here --> */
.tractors-buying-section {
  background-color: var(--navyblue-color);
  color: var(--main-color);
  text-align: center;
  padding: 67px 0;
}
.tractors-content h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 68px;
}
.tractors-divider {
  margin-bottom: 30px;
  width: 100px;
  height: 1px;
  background: var(--secondary-color);
  margin: 0 auto;
}
.tractors-content .para {
  width: 580px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 40px auto;
}
.tractors-feature {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.tractors-feature-content {
  width: 200px;
}
.tractors-feature-content h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.tractors-feature-content p {
  font-size: 13px;
  font-weight: 400;
}
@media only screen and (max-width: 665px) {
  .tractors-content h4 {
    font-size: 24px;
    line-height: 40px;
  }
  .tractors-content .para {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 40px auto;
  }
  .tractors-feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }
}

/* <!-- Tractor buying section ends here --> */
/* <!-- Our Process Section start here  --> */
.process {
  padding: 100px 0;
  position: relative;
}
.process-bg{
  position: absolute;
  width: 561px;
  height: 100%;
  background-color: #f2f2f2;
  z-index: -1;
  top: 0;
  right: 0;
}
.process-title-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.process-title-content h6 {
  font-size: 19px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.process-title-content h4 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 10px;
}
.process-button {
  display: flex;
  align-items: flex-end;
}
.process-button button {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.process-content {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}
.process-card {
  position: relative;
  cursor: pointer;
}
.process-card:after {
  content: "";
  display: none;

  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  opacity: 0.6;
  top: 0;
  left: 0;
  border-radius: 10px;
  filter: drop-shadow(0px 31px 57px rgba(0, 0, 0, 0.137322))
}
.process-card:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;

  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.process-card:hover.process-card:after {
  display: block;
}

.process-card h6 {
  position: absolute;
  font-size: 19px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 10px;
  bottom: 10px;
  left: 10px;
}
.process-card:hover h6 {
  display: none;
  transition: all 0.5s ease-in-out;
}
.process-card-item {
  /* visibility: hidden; */
  transform: scaleY(0);
  transform-origin: bottom;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  color: var(--main-color);
  transition: transform  0.5s ease-in-out;
  z-index: 1;
}
.process-card:hover .process-card-item {
  /* visibility: visible; */
  z-index: 10;
  transform: scaleX(1);
  /* transition:  0.5s ease-in-out; */
}
.process-card-item h5 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
}
.process-card-item p {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
  color: #FFFFFF;
}
.process-card-item i {
  color: var(--secondary-color);
  font-size: 19px;
  padding: 12px 16px;

  width: 47px;
  height: 47px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  z-index: 1;
}
@media only screen and (max-width: 665px) {
  .process-title-content h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .process-content {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 960px) {
  .process-content {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px auto;
    flex: 1 0 100%;
  }
}
/* <!-- Our Process Section ends here  --> */
/* <!-- RESEARCH section start here --> */

.research {
  background: url("./assets/images/scott-goodwill-bg.png") no-repeat center
    center/ cover;
  height: 606px;
  position: relative;
  z-index: 1;
}
.research::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: -1;
}
.research-content {
  padding: 150px 0;
  z-index: 1;
  color: var(--main-color);
}
.research-content h6 {
  font-size: 19px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
  z-index: 10;
}
.research-content h4 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
  z-index: 10;
}
.research-content p {
  font-size: 15px;
  font-weight: 400;
  margin: 40px 0;
  z-index: 10;
}
.research-button button{
  font-size: 15px;
  position: relative;
  background: transparent;
  color: var(--main-color);
  padding: 10px 20px;
  z-index: 10;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  cursor: pointer;
  /* position: relative !important; */
}
.research-button button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius:50px ;
  transform: scaleX(0);
  background: var(--navyblue-color);
  z-index: -1;
  
}
.research-button .res-btn:hover::before,
.research-button .res-btn:focus::before {
  transform: scaleX(1);
}
@media only screen and (max-width: 665px) {
  .research-content h4 {
    font-size: 34px;
    margin-bottom: 10px;
  }
}
/* <!-- RESEARCH section ends here --> */
/* <!-- SUPPORTING-SERVICES start here --> */
.supportting-services {
  margin: 100px 0;
}
.support-title {
  text-align: center;
  margin-bottom: 100px;
}
.support-title h6 {
  font-size: 19px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.support-title h4 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}
.support-content {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.support-card {
  width: 310px;
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  transition: border 0.5s ease-in-out;
  border: 1px solid transparent;
}

.support-card div {
  width: 66px;
  height: 66px;
  background: var(--navyblue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  border: 1px solid transparent;
  transition: background 0.5s ease-in-out;
}
.support-card:hover.support-card div{
  border: 1px solid var(--navyblue-color);
  background: var(--main-color);
  z-index: 10;
}
.support-card h6 {
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 10px;
  margin-top: 50px;
}
.support-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
}
.sup-btn {
  color: var(--primary-color);
  border-color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 30px;
}
.sup-btn:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--navyblue-color);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 665px) {
  .support-title h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .support-content {
    flex-direction: column;
    gap: 55px;
    align-items: center;
    margin-bottom: 50px;
  }
}
/* <!-- SUPPORTING-SERVICES ends here --> */
/* ABout start Here */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 0 100px;
  margin-bottom: 150px;
}
.about-img img{
  width: 600px;
}
.about-content {
 
  margin-top: 100px;
  background: var(--navyblue-color);
  color: var(--main-color);
  padding: 100px;
}
.about-content h6 {
  font-size: 19px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.about-content h4 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
}

@media only screen and (max-width: 665px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
  }
  .about-img img {
    width: 100%;
  }
  .about-content {
    padding: 50px;
    margin-top: 0;
  }
  .about-content h4 {
    font-size: 34px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 960px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
  }
  .about-img img {
    width: 100%;
  }
}
/* ABout ends Here */
/* <!-- Testimonials section start here --> */
.testimonials-content {
  text-align: center;
}
.testimonials-content h6 {
  font-size: 19px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.testimonials-content h4 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}
.testimonials-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
}
.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-dots .owl-dot.actives {
  opacity: 1;
  background-color: #9f2222;
  color: var(--navyblue-color);
}
@media only screen and (max-width: 665px) {
  .testimonials-content h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .testimonials-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0;
  }
}

/* <!-- Testimonials section end here --> */

/* <!-- Careers Section start here --> */
.careers-section {
  background: url("/assets/images/thisisengineering-raeng-TXxiFuQLBKQ-unsplash\ \(1\)\ Copy.png")
    no-repeat center center/cover;
  height: 652px;
  margin-top: 40px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.careers-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -450px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(46, 46, 46, 0.0001) 0%, #151515 100%);
  mix-blend-mode: normal;
  opacity: 0.66;
  transform: matrix(0, 1, 1, 0, 0, 0);
  z-index: -1;
}
.careers-content h6 {
  font-size: 19px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.careers-content {
  z-index: 10;
  margin: 150px 0;
}
.careers-content h4 {
  font-size: 65px;
  font-weight: 700;
  color: var(--main-color);
  margin: 30px 0;
}
.careers-content h4 span {
  color: #96d3f4;
}
.careers-content p {
  width: 369px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: var(--main-color);
  margin: 30px 0;
}
@media only screen and (max-width: 665px) {
  .careers-section {
    width: 100%;

    height: 652px;
    margin-top: 0;
  }
  .careers-section::before {
    left: 0;
    width: 168%;
  }
  .careers-content {
    margin: 150px 0;
  }
  .careers-content h4 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .careers-content p {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: var(--main-color);
    margin: 30px 0;
  }
}
/* start-career-section */
.start-career-section {
  margin: 100px 0;
}
.start-career {
  display: flex;
  align-items: center;
}
.start-career-content {
  margin: 0 50px;
  color: var(--primary-color);
}
.start-career-content h4 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}
.start-career-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
}
.career-btn {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.career-btn:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  background: var(--navyblue-color);
  transition: all 0.3s ease;
}
.start-career-img {
  position: relative;
}
.start-icon{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  width: 110px;
  height: 110px;
  transform: translate(-50%, -50%);
  background: var(--main-color);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}
.start-icon:hover{
 background: var(--navyblue-color);
  border: 1px solid var(--navyblue-color);
  transition: all 0.3s ease;
}
.start-icon i{
  font-size: 20px;
  color: var(--secondary-color);
}

@media only screen and (max-width: 960px) {
  .start-career {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .start-career-img img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 665px) {
  .start-career {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .start-career-content {
    margin: 0;
  }
  .start-career-content h4 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .start-career-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0;
  }
  .start-career-img img {
    width: 100%;
    height: 100%;
  }
}

/* <!-- Careers Section ends here --> */
/* Lastest section */
.latest-section {
  background: #f2f2f2;
  padding: 50px 0;
}
.latest-title {
  display: flex;
  justify-content: space-between;
}
.latest-title div{
  
  align-items: center;

}
.latest-title h4 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}
.latest-content {
  display: flex;

  gap: 30px;
  margin-top: 30px;
}
.latest-content-div {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.latest-img h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.latest-img p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
}
.latest-img h4 {
  font-size: 30px;
  font-weight: 700;
}
.category button {
  background: var(--navyblue-color);
  color: var(--main-color);
  font-size: 12px;
  padding: 5px 18px;
  cursor: pointer;
}
.category button:hover {
  background: var(--secondary-color);
  color: var(--navyblue-color);
  transition: all 0.3s ease;
}
.category h6 {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}
@media only screen and (max-width: 960px) {
  .latest-content {
    flex-direction: column;
    margin-top: 0;
    align-items: center;
  }
}
@media only screen and (max-width: 665px) {
  .latest-title h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .latest-img img {
    width: 100%;
  }
  .latest-content {
    flex-direction: column;
    margin-top: 0;
    align-items: center;
  }
}
/* footer start here */

.footer {
  background: var(--navyblue-color);
  padding: 50px 0;
}
.footer-head-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-content-navs h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: var(--main-color);
  border-bottom: 0.562px solid#cdd1ce;
}
.footer-content-navs a {
  display: block;
  color: #cdd1ce;
  font-weight: 300;
  font-size: 14px;
}
.footer-body {
  display: flex;
  gap: 20px;
  color: #e0dfde;
}
.footer-body-content {
  margin: 50px 0;
  padding: 46px 0;
  border-top: 1px solid #cdd1ce;
  border-bottom: 1px solid #cdd1ce;
}
.footer-body-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
  color: #e0dfde;
}
.footer-body h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #cdd1ce;
}
.footer-info{
  text-align: right;
}
.footer-info p{
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 30px 0;
  color: #e0dfde;
}
.footer-footer-content {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
}
.footer-footer-content ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.footer-footer-content ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  color: #cdd1ce;
}
.social-icons a {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.social-icons i {
  font-size: 20px;
  color: var(--main-color);
  margin-right: 10px;
  margin-left: 20px;
}
@media only screen and (max-width: 665px) {
  .footer-head-content {
    flex-direction: column;
    gap: 10px;
  }
  .footer-body{
    flex-direction: column;
  }
  .footer-footer-content {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .footer-info{
    text-align: left;
  }
  .footer-footer-content ul {
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
}
